@import url(/css/styles.css);

/* Project Page Styles */
body {
   background-image: none;
   font-family: 'Poppins' !important;
}
.technologies {
    background:#FFF5F2;
    color: black;
    padding: 5px 15px;
    border-radius: 2px; 
    line-height: 40px;
    margin-right: 5px;
}

.left-project {
    text-align: left;
}

.before-after-background {
    background-color: #CFF1EA;
}
.before-after-background-body {
    background-color: #CFF1EA;
}
.before-after-container {
    max-width: 80%;
    margin: auto;
}